.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    // padding: 120px 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 50px;
            /* or 139% */

            text-align: center;

            color: var(--color-name);
        }

        .inputs {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            gap: 20px;

            input {
                background: var(--color-input);
                // border: 1px solid rgba(255, 255, 255, 0.2);
                border: none;
                box-shadow: 0px 0px 10px var(--color-shadow-2);
                border-radius: 8px;
                padding: 16px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                color: var(--color-font);
                outline: none;
                // width: 300px;
            }

            textarea {
                background: var(--color-input);
                resize: none;
                // border: 1px solid rgba(255, 255, 255, 0.2);
                border: none;
                box-shadow: 0px 0px 10px var(--color-shadow-2);
                border-radius: 8px;
                padding: 16px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                color: var(--color-font);
                outline: none;
                width: 600px;
            }
        }

        h4 {
            font-family: 'Public Sans';
            font-weight: 300;
            color: rgb(127, 255, 168);
        }

        .btns {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 29px;
                line-height: 15px;
                /* identical to box height, or 94% */

                text-align: center;
                text-transform: capitalize;
                padding: 20px;
                margin-top: 40px;
                background: transparent;
                border: none;
                border-bottom: 4px solid linear-gradient(#cf59e6, #8000ff);
                color: var(--color-accent-2);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(to right, var(--color-accent-2), #cf59e6, var(--color-accent-2), #8000ff);
                background-size: 400% 400%;
                animation: gradient 6s ease infinite;
                cursor: pointer;
                transition: all .3s;
            }

            .btn:hover {
                transform: scale(1.24);
            }
        }
    }
}

@media (max-width:700px) {
    .main {
        .wrapper {
            .inputs {
                input {
                    width: 90%;
                }

                textarea {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-height:690px) {
    .main {
        height: auto;
        padding: 100px 0;
    }
}