.section_am {
    padding: 100px 0;
    background: var(--color-section);
    // height: 864px;
    display: flex;
    align-items: center;
    justify-content: center;

    .in_section_am {
        // display: flex;
        // align-items: center;

        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 0px;
        align-items: center;

        .picture {
            img {
                width: 95%;
                border-radius: 10px;
            }
        }

        .about_me {
            h3 {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 12px;
                /* identical to box height, or 75% */

                text-align: center;
                letter-spacing: 0.15em;
                text-transform: capitalize;

                color: var(--color-font);
                padding: 12px 14px;
                background: var(--color-background-card);
                box-shadow: 0px 0px 24px var(--color-shadow-2);
                border-radius: 4px;
                display: inline-block;
                margin-bottom: 20px;
            }

            h2 {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 48px;
                /* or 133% */


                color: var(--color-font);
                margin-bottom: 15px;
            }

            p {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                /* or 162% */


                color: var(--color-font);
                margin-bottom: 20px;
            }

            .btn {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 15px;
                /* identical to box height, or 94% */

                text-align: center;
                text-transform: capitalize;
                padding: 10px 0;
                margin-top: 40px;
                background: transparent;
                border: none;
                border-bottom: 4px solid linear-gradient(#cf59e6, #8000ff);
                color: var(--color-accent-2);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(to right, var(--color-accent-2), #cf59e6, var(--color-accent-2), #8000ff);
                background-size: 400% 400%;
                animation: gradient 6s ease infinite;
                cursor: pointer;
                transition: all .3s;
            }

            .btn:hover {
                transform: scale(1.15);
            }

            @keyframes gradient {
                0% {
                    background-position: 0 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0 50%;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .section_am {
        height: auto;
        margin: 30px 0;

        .in_section_am {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;

            .picture {
                img {
                    width: 100%
                }
            }
        }
    }
}